html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    color: #1C4C4C;
}

h2 {
    color: #1C4C4C;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

#inputs {
   display: flex;
   height: 500px;
   flex-direction: column;
   overflow-y: auto;
}

button {
    width: 300px;
}

textarea {
    resize: none;
    height: 500px;
    width: 700px;
}

ul {
    display: flex;
    justify-content: flex-start;
}

li {
    list-style-type: none;
    margin-right: 10px;
}